body {
    margin: 0;
    overflow-x: hidden;
}

a, h3, .menu, button, p {
    font-family: 'Roboto', sans-serif;

}

h1, h2 {
    font-family: 'EB Garamond', serif;
}

.business {
    transform: rotate(20deg);
    font-family: 'East Sea Dokdo', cursive;
}

.art {
    transform: rotate(-12deg);
    font-family: 'East Sea Dokdo', cursive;
}

.design {
    transform: rotate(-10deg);
    font-family: 'East Sea Dokdo', cursive;  
}

.uidesign {
    transform: rotate(8deg);
    font-family: 'East Sea Dokdo', cursive;  
}

.green {
    color: #00BF58;
    font-weight: bold;
}

.click {
    color: #00BF58;
    text-decoration: underline;
    cursor: pointer;
}

.exploreall {
    text-decoration: underline;
}